.team-member .text-muted {
    margin-bottom: 10px;
    text-align: center;
    color: #777;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
    font-weight: 700;
    color: #333;
}

.team-member p {
    margin-top: 0;
}

.team-member ul.social-buttons {
    margin-bottom: 0;
}

.team-member ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.team-member ul.social-buttons li a:hover,
.team-member ul.social-buttons li a:focus,
.team-member ul.social-buttons li a:active {
    background-color: #fed136;
    text-decoration: none;
}