<a class="btn btn-default" data-bind="click: insertTimelineItem, visible: toolbar.indexOf('timeline-item-button') != -1" href="#">
    <i class="fa fa-file-text-o"></i>
</a>
<a class="btn btn-default" data-bind="click: insertTimelineEmptyItem, visible: toolbar.indexOf('timeline-item-button') != -1" href="#">
    <i class="fa fa-file-o"></i>
</a>